#heading{
    font-size: 30px;
}
#color{
    float: right;
}
#btn{
    font-size: 30px;
    border-radius: 10px;
    background-color: red;
    color: aliceblue;
    margin-left: 45%;
    margin-top: 45%;
    margin-bottom: 45%;
}